body {
  background-color: #0d0c0a;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#insta {
  width: 3em;
  height: 3em;
  position: fixed;
  top: 1%;
  right: 1%;
}
